body {
  margin: 10px;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

main {
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

section {
  justify-content: center;
  align-items: center;
}

p {
  font-family: "Lora", sans-serif;
  font-size: 14px;
  color: white;
}

h2 {
  font-family: "Montserrat";
  margin: 0px 0;
  padding: 20px;
}

h4 {
  font-family: "Montserrat";
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}




.navbar {
  height: 40px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: #003366;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #003366;
  color: white;
  border-radius: 10px;
}

.section {
  justify-content: center;
}

.form-container {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.6s ease, max-height 0.6s ease;
}

.field-container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  width: 80%;
  height: 10px;
}

.coef-container {
  width: 325px;
  gap: 25px;
}

.field-container input {
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  height: 30px;
}

.field-container input:focus {
  outline: 1px solid #53595b;
  margin-bottom: 15px;
}

.box-container {
  height: 200px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.box {
  font-family: 'Montserrat', sans-serif;
  background-color: #003F5C;
  color: white;
  width: 29%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
}

.box:hover {
  transform: translateY(-5px);
}

.box.expanded {
  transform: translateY(0);
  height: auto;
}

.box.expanded .form-container {
  opacity: 1;
  max-height: 800px;
  align-items: start;
}

.single-box {
  width: 1200px;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: nowrap;
}

.single-box .box {
  width: 100%;
  height: auto;
  padding: 40px;
}

.h4-hidden {
  font-family: "Montserrat";
  font-weight: 200;
}

.box.expanded .h4-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease;
}

.box .smaller-button {
  width: 40%;
  margin-top: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.box .smaller-button-color-1 {
  color: #003366;
}

.box .smaller-button-color-2 {
  color: #483D8B;
}

.box .smaller-button-color-3 {
  color: #4682B4;
}

.box .smaller-button-color-4 {
  color: #A0522D;
}

.box .smaller-button:hover {
  background-color: #FFD700;
}

.question-mark {
  font-family: "Segoe UI Symbol";
  margin-left: 10px;
  color: #ccc;
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 100%;
  margin-bottom: 15px;
}

.question-mark:hover {
  color: #83a3ad;
}

.help-text {
  display: none;
  font-size: 12px;
  color: white;
  margin-top: 5px;
  margin-bottom: 15px;
  position: relative;
  left: 0;
  top: 100%;
  width: 100%;
}

.field-container .help-text {
  display: none;
}
