{% extends "layout.html" %}

{% block main %}

<section>

  <div class="box-container single-box">
    <div class="box" style="background-color: #7C3626; width: 50%;">
      <h2>
          Sobre o IMInimo
      </h2>
      <div class="h4-hidden">
        O IMInimo é uma ferramenta criada para ajudar os proprietários de imóveis urbanos em Portugal a poupar no
        Imposto Municipal sobre Imóveis (IMI) de forma simples.
        <p></p>
        Esta web app é um projecto pessoal de programação de um perito avaliador de imóveis da CMVM. Assim, a
        utilização desta aplicação é indicativa e não dispensa a consulta da legislação aplicável e dos serviços
        da Autoridade Triburária.
        <p></p>
        Tenha ainda em conta que, no caso de habitações próprias permanentes, certos municípios oferecem deduções
        fixas para agregados familiares com dependentes. Se o seu número de dependentes mudar, o mesmo poderá
        acontecer com as deduções. Consulte-as
        <a href="https://www.portaldasfinancas.gov.pt/pt/main.jsp?body=/imi/consultarTaxasIMIForm.jsp">neste link</a>,
        seleccionando o ano e distrito e seleccionando a coluna "Dedução fixa por agregado" do seu concelho.
        <p></p>
        <a href="/">
          <button class="smaller-button smaller-button-color-5" style="width: 20%;">Voltar</button>
        </a>
      </div>
    </div>
  </div>

</section>

{% endblock %}
