{% extends "layout.html" %}

{% block main %}

<section>

  <div class="box-container single-box">
    <div class="box" style="background-color: #7C3626; width: 50%;">
      <h2>
          IMInimo - Menos IMI, mais para si
      </h2>
      <div class="h4-hidden">
        O IMInimo é uma ferramenta criada para ajudar os proprietários de imóveis urbanos em Portugal a poupar no
        Imposto Municipal sobre Imóveis (IMI) de forma simples.
        <p></p>
        Nela, pode carregar a Caderneta Predial de um prédio urbano em formato PDF digital (no qual seja possível
        seleccionar palavras com duplo clique) ou inserir os dados manualmente. O IMInimo verificará se pode poupar
        neste imposto pedindo uma reavaliação à Autoridade Tributária.
        <p></p>
        Não serão guardados quaisquer dados.
        <p></p>
        Esta web app é um projecto pessoal de programação de um perito avaliador da CMVM. Assim, a utilização
        desta aplicação é indicativa e não dispensa a consulta da legislação aplicável e dos serviços da AT.
        <p></p>
        Tenha ainda em conta que, no caso de habitações próprias permanentes, certos municípios oferecem deduções
        fixas para agregados familiares com dependentes. Consulte-as
        <a href="https://www.portaldasfinancas.gov.pt/pt/main.jsp?body=/imi/consultarTaxasIMIForm.jsp">neste link</a>,
        seleccionando o ano e distrito e clicando na coluna "Dedução fixa por agregado" do seu concelho.
        <p></p>
        Stack: Python, Flask, JavaScript, HTML/CSS<br>
        Última actualização: 06-11-2024
        <p></p>
        <a href="/">
          <button class="smaller-button smaller-button-color-5" style="width: 20%;">Voltar</button>
        </a>
      </div>
    </div>
  </div>

</section>

{% endblock %}
