{% extends "layout.html" %}

{% block main %}

<section>

  <div class="box-container">

    <div class="box" style="background-color: #003366">
      <h2>Como poupar no IMI</h2>
      <div class="h4-hidden">Compreenda as reavaliações da Autoridade Tributária</div>
      <div class="form-container">
        <h4>
          O valor do Imposto Municipal sobre Imóveis a pagar é
          uma percentagem (definida pela Câmara Municipal) do Valor
          Patrimonial Tributário do imóvel.<br><br>
          Este é, por sua vez, determinado por uma avaliação feita
          pela Autoridade Tributária, e o seu valor aumenta todos os anos.
          De 3 em 3 anos, pode pedir a reavaliação do imóvel.<br><br>
          No entanto, deve garantir que ela conduz a um Valor Patrimonial
          Tributário inferior. Afinal, o objectivo é poupar!
        </h4>
      </div>
    </div>

    <div class="box" style="background-color: #483D8B">
      <h2>Carregar Caderneta Predial</h2>
      <div class="h4-hidden">Carregue a sua Caderneta Predial Urbana para calcularmos a poupança automaticamente</div>
      <div class="form-container">
        <h4>
          A Caderneta Predial deverá estar em formato PDF e não ser digitalizada.<br><br>
          Pode obter este documento no formato correcto no site da Autoridade Tributária.
        </h4>
        <button class="smaller-button smaller-button-color-2" id="upload-btn">Carregar PDF</button>
        <input type="file" id="pdf-input" accept="application/pdf" style="display:none">
      </div>
    </div>

    <div class="box" style="background-color: #4682B4">
      <h2>Inserir manualmente</h2>
      <div class="h4-hidden">Se preferir, insira manualmente os dados da sua Caderneta Predial</div>
      <div class="form-container">
        <form action="/input" method="post">

          <div class="field-container">
            <input autocomplete="off" autofocus name="VPTCurrent" placeholder="Valor Patrimonial Actual (CIMI)" type="text">
            <i class="far fa-question-circle question-mark" text-id="text-1" id="questionIcon"></i>
          </div>
          <div class="help-text" id="text-1">O Valor Patrimonial Actual pode ser encontrado na secção "Dados de Avaliação" da Caderneta Predial Urbana.</div>

          <div class="field-container">
            <input autocomplete="off" autofocus name="appraisalArea" placeholder="Área de Avaliação (A)" type="text">
            <i class="far fa-question-circle question-mark" text-id="text-2"></i>
          </div>
          <div class="help-text" id="text-2">A Área de Avaliação pode ser encontrada na secção "Dados de Avaliação" da Caderneta Predial Urbana, no quadro de cálculo do Valor Patrimonial (factor "A", na terceira quadrícula).</div>

          <div class="field-container">
            <input autocomplete="off" autofocus name="registryYear" placeholder="Ano de inscrição na matriz" type="text">
            <i class="far fa-question-circle question-mark" text-id="text-3"></i>
          </div>
          <div class="help-text" id="text-3">O Ano de Inscrição na Matriz é o primeiro campo da secção "Dados de Avaliação" da Caderneta Predial Urbana.</div>

          <h4>Data da última avaliação<i class="far fa-question-circle question-mark" text-id="text-4"></i></h4>
          <div class="field-container">
            <input autocomplete="off" autofocus name="appraisalDate" placeholder="Avaliada em" type="date">
          </div>
          <div class="help-text" id="text-4">A data da última avaliação corresponde ao campo "Avaliada em" na secção "Dados de Avaliação" da Caderneta Predial Urbana.</div>

          <h4>Coeficientes<i class="far fa-question-circle question-mark" text-id="text-5" id="questionIcon"></i></h4>
          <div class="field-container coef-container">
            <input autocomplete="off" autofocus name="Ca" placeholder="Ca" type="text">
            <input autocomplete="off" autofocus name="Cq" placeholder="Cq" type="text">
            <input autocomplete="off" autofocus name="Cl" placeholder="Cl" type="text">
          </div>
          <div class="help-text" id="text-5">
              Ca - <a href="https://info.portaldasfinancas.gov.pt/pt/informacao_fiscal/codigos_tributarios/cimi/Pages/cimi41.aspx" target="_blank">
              Afectação</a>;
              Cq - <a href="https://info.portaldasfinancas.gov.pt/pt/informacao_fiscal/codigos_tributarios/cimi/Pages/cimi43.aspx" target="_blank">
              Qualidade e conforto</a>;
              Cl - <a href="https://info.portaldasfinancas.gov.pt/pt/informacao_fiscal/codigos_tributarios/cimi/Pages/cimi42.aspx" target="_blank">
              Localização</a> (O coeficiente de localização da sua Caderneta pode ter sofrido alterações. Encontre o mais recente <a href="https://zonamentopf.portaldasfinancas.gov.pt/simulador/default.jsp" target="_blank">
              neste mapa</a>).
          </div>

          <h4>Códigos de localização<i class="far fa-question-circle question-mark" text-id="text-6" id="questionIcon"></i></h4>
          <div class="field-container coef-container">
            <input autocomplete="off" autofocus name="propertyDistrict" placeholder="Distrito" type="text">
            <input autocomplete="off" autofocus name="propertyCouncil" placeholder="Concelho" type="text">
            <input autocomplete="off" autofocus name="propertyParish" placeholder="Freguesia" type="text">
          </div>
          <div class="help-text" id="text-6">
              Os códigos de localização têm dois dígitos e encontram-se na primeira secção da
              Caderneta Predial, "Identificação do Prédio".
          </div>


          <button class="smaller-button smaller-button-color-3" type="submit">Calcular</button>
          <input type="file" id="pdf-input" accept="application/pdf" style="display:none">
        </form>

      </div>
    </div>
  </div>
</section>





{% endblock %}
