{% extends "layout.html" %}

{% block main %}

<section>

  <div class="box-container single-box-container">
    <div class="box single-box" style="background-color: #A0522D">
      <h2>
          Ficheiro inválido
      </h2>
      <div class="h4-hidden">O IMInimo só aceita Cadernetas Prediais Urbanas em formato PDF digial, em que tem de ser possível seleccionar palavras com duplo clique.
        <br><br>
        <a href="/">
          <button class="smaller-button smaller-button-color-4"">Voltar</button>
        </a>
      </div>
    </div>
  </div>

</section>

{% endblock %}
