<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>IMInimo</title>

    <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap">

    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">

    <script src="{{url_for('static', filename='scripts.js')}}"></script>

</head>
<body>

  <div class="navbar">
    <div class="navbar-left">
      <a href="/">IMInimo</a>
      <a href="{{ url_for('about') }}">Sobre</a>
    </div>
    <div class="navbar-right">
      Menos IMI, mais para si.
    </div>
  </div>

    <main>

      <section>
        <br><br>
      </section>

          {% block main %}{% endblock %}

    </main>
</body>
</html>
