<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IMInimo</title>
    <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <div class="navbar">
      <a href="#home">IMInimo</a>
      <a href="#about">Sobre</a>
  </div>
    <main>



          {% block main %}{% endblock %}


    </main>



    <script src="{{url_for('static', filename='scripts.js')}}"></script>

</body>
</html>
