{% extends "layout.html" %}

{% block main %}

<section>
  <h5 id="legal-text">
    <strong>Política de Privacidade</strong>
    <br><br><br>
    <strong>Data da Última Actualização</strong>
    <br>
    Esta Política de Privacidade foi actualizada pela última vez em 09-11-2024.
    <br><br>
    <strong>Identificação e Contacto do Responsável pelo Tratamento de Dados</strong>
    <br>
    Este site não realiza armazenamento ou tratamento contínuo de dados pessoais; os dados fornecidos são usados exclusivamente para cálculo imediato e descartados após o processamento. Como não há retenção de dados, não é aplicável a designação de um responsável pela protecção de dados.
    <br><br>
    <strong>Dados Colectados e Processamento</strong>
    <br>
    A aplicação recolhe apenas os dados necessários ao cálculo da estimativa de poupança no IMI, que incluem o valor patrimonial tributário, as áreas do imóvel, os coeficientes de cálculo, as datas de registo e avaliação do imóvel, e os códigos de distrito, concelho e freguesia.
    Para assegurar a privacidade do utilizador, o site usa expressões regulares (regex) para extrair apenas estes parâmetros do PDF da caderneta predial, ignorando quaisquer dados pessoais presentes no documento. Os dados também podem ser inseridos manualmente pelo utilizador, caso ele prefira esta opção.
    <br><br>
    <strong>Finalidade e Base Jurídica</strong>
    <br>
    Os dados são processados unicamente para a finalidade de calcular uma estimativa indicativa de poupança no IMI, com base em informações públicas e privadas fornecidas voluntariamente pelo utilizador. A base jurídica para este tratamento é o consentimento do utilizador, que concorda com o uso do serviço e o fornecimento de informações necessárias.
    <br><br>
    <strong>Medidas de Segurança</strong>
    <br>
    São aplicadas medidas técnicas e organizacionais para proteger os dados processados contra acesso não autorizado, uso indevido ou perda. Nenhum dado é armazenado, e as informações são descartadas imediatamente após a conclusão do cálculo.
    <br><br>
    <strong>Período de Conservação dos Dados</strong>
    <br>
    Não existe conservação de dados, uma vez que todos os dados fornecidos são eliminados automaticamente após o processamento.
    <br><br>
    <strong>Transferência e Comunicação de Dados para Terceiros</strong>
    <br>
    Os dados inseridos não são partilhados, comunicados a terceiros, ou transferidos para fora da União Europeia.
    <br><br>
    <strong>Direitos do Utilizador</strong>
    <br>
    Como não há armazenamento de dados pessoais, os direitos de acesso, rectificação, cancelamento, limitação, portabilidade e oposição não se aplicam neste serviço. O utilizador tem a garantia de que todos os dados fornecidos são utilizados exclusivamente para o cálculo imediato e descartados automaticamente após o processamento.
  </h5>


</section>

{% endblock %}
