{% extends "layout.html" %}

{% block main %}

<section>
  <h5 id="legal-text">
    <strong>Política de Privacidade</strong>
    <br><br><br>
    <strong>Data da última actualização</strong>
    <br>
    Esta Política de Privacidade foi actualizada pela última vez em 20-11-2024.
    <br><br>
    <strong>Identificação e contacto do responsável pelo tratamento de dados</strong>
    <br>
    Este site realiza o tratamento de dados pessoais exclusivamente para fins de cálculo imediato, descartando-os logo após o processamento, sem qualquer armazenamento contínuo. Para garantir a conformidade com as normas de protecção de dados, um responsável pela proteção de dados (RPD) foi designado e está disponível para esclarecer dúvidas ou tratar solicitações relacionadas com a privacidade e segurança dos dados fornecidos. Poderá contactar-nos para este efeito através do endereço geral@iminimo.pt.
    <br><br>
    <strong>Dados colectados e processamento</strong>
    <br>
    A aplicação recolhe apenas os dados necessários ao cálculo da estimativa de poupança no IMI, que incluem o valor patrimonial tributário, as áreas do imóvel, os coeficientes de cálculo, as datas de registo e avaliação do imóvel, e os códigos de distrito, concelho e freguesia.
    Para assegurar a privacidade do utilizador, o site usa expressões regulares (regex) para extrair apenas estes parâmetros do PDF da Caderneta Predial, ignorando quaisquer dados pessoais presentes no documento. Os dados também podem ser inseridos manualmente pelo utilizador, caso este prefira essa opção.
    Os dados que a aplicação recolhe das Cadernetas Prediais carregadas (no menu do meio da página principal) são os mesmos que o utilizador pode inserir na opção de preenchimento manual (menu da direita na página principal).
    <br><br>
    <strong>Alojamento do IMInimo</strong>
    <br>
    O IMInimo está alojado nos servidores europeus do prestador norte-americano Pythonanywhere, situados na Alemanha. O processamento e os cálculos serão, assim, feitos em território europeu. Não obstante a opção pelos servidores europeus, o IMInimo não se responsabiliza por alterações do prestador Pythonanywhere relativamente a alteração da localização dos servidores e do processamento ao nível do servidor.
    <br><br>
    <strong>Finalidade e Base Jurídica</strong>
    <br>
    Os dados são processados unicamente para a finalidade de calcular uma estimativa indicativa de poupança no IMI, com base em informações públicas e privadas fornecidas voluntariamente pelo utilizador. A base jurídica para este tratamento é o consentimento do utilizador, que concorda com o uso do serviço e o fornecimento de informações necessárias, nos termos do artigo 6.º e seguintes do Regulamento Geral sobre a Proteção de Dados (RGPD).
    <br><br>
    <strong>Maioridade do utilizador</strong>
    <br>
    Em conformidade com o artigo 16.º da Lei 58/2019, os dados pessoais de crianças menores de 13 anos só poderão ser tratados mediante o consentimento expresso dos seus representantes legais, preferencialmente com recurso a meios de autenticação segura. Para utilizadores com idade igual ou superior a 13 anos, o consentimento poderá ser dado diretamente pelo titular, nos termos do RGPD. Ao aceitar os Termos e Condições do site, e no caso de a Caderneta Predial conter dados pessoas de menores, o utilizador assegura ter mais de 13 anos de idade ou reprentante legal daquele menor.
    <br><br>
    <strong>Medidas de segurança</strong>
    <br>
    São aplicadas medidas técnicas e organizacionais para proteger os dados processados contra acesso não autorizado, uso indevido ou perda. Nenhum dado é armazenado, e as informações são descartadas imediatamente após a conclusão do cálculo.
    <br><br>
    <strong>Período de conservação dos dados</strong>
    <br>
    Os cálculos do IMInimo são feitos de forma instantânea, pelo que não existe necessidade de conservar os dados utilizados. Assim, nenhum dado é armazenado após o tratamento imediato. Todos os dados fornecidos são eliminados automaticamente após o processamento.
    <br><br>
    <strong>Transferência e comunicação de dados para terceiros</strong>
    <br>
    Os dados inseridos não são partilhados, comunicados a terceiros, ou transferidos para fora da União Europeia.
    <br><br>
    <strong>Direitos do utilizador</strong>
    <br>
    Como não há armazenamento de dados pessoais, os direitos de acesso, rectificação, cancelamento, limitação, portabilidade e oposição não se aplicam neste serviço. O utilizador tem a garantia de que todos os dados fornecidos são utilizados exclusivamente para o cálculo imediato e descartados automaticamente após o processamento.
  </h5>


</section>

{% endblock %}
