{% extends "layout.html" %}

{% block main %}

<section>
  <h2>Menos IMI, mais para si.</h2>
  <p>
    O valor do Imposto Municipal sobre Imóveis a pagar é
    uma percentagem (definida pela Câmara Municipal) do Valor
    Patrimonial Tributário do imóvel.
  </p>
  <p>
    Este é, por sua vez, determinado por uma avaliação feita
    pela Autoridade Tributária, e o seu valor aumenta todos os anos.
  </p>
  <p>
    De 3 em 3 anos, pode pedir a reavaliação do imóvel. No entanto,
    deve garantir que ela conduz a um Valor Patrimonial Tributário
    inferior. Afinal, o objectivo é poupar!
  </p>
</section>
