{% extends "layout.html" %}

{% block main %}

<section>

  <div class="box-container single-box">
    <div class="box" style="background-color: #A0522D; width: 50%;">
      <h2>
          {% if successful_calculation %}
          Resultado
          {% else %}
          Erro
          {% endif %}
      </h2>
      <div class="h4-hidden">{{ output_message }}
        <br><br>
        <a href="/">
          <button class="smaller-button smaller-button-color-4" style="width: 20%;">Voltar</button>
        </a>
      </div>
    </div>
  </div>

</section>

{% endblock %}
