{% extends "layout.html" %}

{% block main %}

<section>

  <div class="box-container single-box-container">
    <div class="box single-box" style="background-color: #BA754C">
      <h2>
          {% if successful_calculation %}
          Resultado
          {% else %}
          Erro
          {% endif %}
      </h2>
      <div class="h4-hidden">{{ output_message|safe }}
        <br><br>
        <a href="/">
          <button class="smaller-button smaller-button-color-4">Voltar</button>
        </a>
      </div>
    </div>
  </div>

</section>

{% endblock %}
